<app-carousel></app-carousel>
<!--Filter-->
<section class="filter">
  <div class="grid">
    <div class="div">
      <label for="buscar"
        ><span><i class="bx bx-search"></i></span
      ></label>
      <input type="text" id="buscar" placeholder="Buscar Producto..." />
    </div>
    <div class="category">
      <select id="category" onclick="categoryValue()">
        <option value="">Marcas</option>
        <option value="rolex">Rolex</option>
        <option value="omega">Omega</option>
        <option value="audemars">Audemars</option>
        <option value="rolexDay">Rolex Day</option>
        <option value="hublot">Hublot</option>
        <option value="tag">Tag Heuer</option>
      </select>
    </div>
  </div>
</section>

<!--Productos-->
<section class="productos">
  <div class="productos__center">
    <div class="producto">
      <div class="image__container">
        <img
          src="https://cdn4.chrono24.com/images/topmodels/2875-7wlcl6ogfoc0qxg22ox6up9m-Original.png?auto=compress&amp;h=305"
          alt=""
        />
      </div>
      <div class="producto__footer">
        <h1>Rejoles Originales</h1>
        <div class="rating">
          <span>
            <i class="bx bxs-star"></i>
          </span>
          <span>
            <i class="bx bxs-star"></i>
          </span>
          <span>
            <i class="bx bxs-star"></i>
          </span>
          <span>
            <i class="bx bxs-star"></i>
          </span>
          <span>
            <i class="bx bx-star"></i>
          </span>
        </div>
        <div class="price">$102.00</div>
      </div>
      <div class="bottom">
        <div class="btn__group">
          <a href="#" class="btn addToCart">Añadir carrito</a>
          <a href="producto-detalles.html" class="btn view">Vista</a>
        </div>
      </div>
    </div>
  </div>
</section>
