<!--Navegation-->
<nav class="nav">
  <div class="nav__center container">
    <div class="nav__logo">
      <h1 routerLink="tienda">CPU <span>STORE</span></h1>
    </div>
    <ul class="nav__list">
      <li class="nav__item">
        <a routerLink="tienda">Inicio</a>
      </li>
      <li class="nav__item">
        <a routerLink="tienda">Productos</a>
      </li>
      <li class="nav__item">
        <a routerLink="tienda">Contactanos</a>
      </li>
    </ul>
    <div class="nav__icons">
      <div class="carrito__icon">
        <a routerLink="carrito">
          <i class="bx bx-cart"></i>
          <span class="item__total">0</span>
        </a>
      </div>

      <div class="user_icon">
        <a routerLink="login">
          <i class="fa-solid fa-user"></i>
        </a>
      </div>

      <div class="exit_icon">
        <a routerLink="tienda">
          <i class="fa-solid fa-right-from-bracket"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
