<section class="carroCompras">
  <h1 class="text-center">Su Carrito</h1>

  <div class="carrito__center">
    <div class="carrito__item">
      <img
        src="https://cdn4.chrono24.com/images/topmodels/2875-7wlcl6ogfoc0qxg22ox6up9m-Original.png?auto=compress&amp;h=305"
        alt="reloj"
      />
      <div>
        <h3>Relojes Originales</h3>
        <p class="price">$122</p>
      </div>
      <div>
        <span>
          <i class="bx bxs-up-arrow"></i>
        </span>
        <p>1</p>
        <span>
          <i class="bx bxs-down-arrow"></i>
        </span>
      </div>
      <div>
        <span class="remove__item">
          <i class="bx bx-trash"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="carrito__footer">
    <h3>Total: $ <span class="carrito__total">0</span></h3>
    <button class="clear__carrito btn">remover carrito</button>
  </div>
</section>
