<footer class="footer">
  <div class="footer__content container">
    <div class="footer__logo">
      <h2>CPU STORE</h2>
      <p>Tecnologia a tu alcance</p>
      <img src="">
    </div>
    <div class="footer__links">
      <ul class="footer__nav">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Acerca de</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
    <div class="footer__contact">
      <h3>Contacto</h3>
      <p>Mz 12 altura bayovar</p>
      <p>Teléfono: 987654321</p>
      <p>Correo Electrónico: cpu@empresa.com</p>
    </div>
  </div>
  <div class="footer__social">
    <a href="#" class="footer__social-link"><i class="fab fa-facebook"></i></a>
    <a href="#" class="footer__social-link"><i class="fab fa-twitter"></i></a>
    <a href="#" class="footer__social-link"><i class="fab fa-instagram"></i></a>
  </div>
</footer>

